<footer id="contactanos" class="pie-pagina">
    <div class="containerFooter">
        <div class="box image">
                <img src="/assets/logos/logo_blanco.png" alt="Zarabanda logo">
        </div>

        <div class="box">
            <h2>Dirección</h2>
            <p>calle 54 # 4b - 52 edificio la reserva Ibagué</p>
        </div>

        <div class="box">
            <h2>Contacto</h2>
            <p>Correo: constructorazarabanda&#64;gmail.com</p>
            <p>Telefono: <br> +57 3150217095</p>
        </div>

        <div class="box">
            <h2>Redes Sociales</h2>
            <div class="red-social">
                <a href="https://wa.me/573150217095" class="whatsapp" target="_blank">Whatsapp  &nbsp; <i class="fa-brands fa-whatsapp"></i> </a>
                <a href="https://www.instagram.com/constructorazarabanda/" target="_blank" class="instagram">Instagram &nbsp; <i class="fa-brands fa-instagram"></i>  </a>
                <a href="https://www.facebook.com/p/Constructora-Zarabanda-100062249992090/" class="facebook" target="_blank">Facebook  &nbsp; <i class="fa-brands fa-facebook"></i> </a>
            </div>
        </div>
    </div>
</footer>