<footer class="pie-pagina">
    <div class="containerFooter">
        <div class="box image">
                <img src="/assets/logos/logo_blanco.png" alt="Zarabanda logo">
        </div>

        <div class="box">
            <h2>Dirección</h2>
            <p>Cra 5ta #24-18 Ibag</p>
        </div>

        <div class="box">
            <h2>Contacto</h2>
            <p>Correo: zarabanda&#64;gmail.com</p>
            <p>Telefono: <br> 0412-1234567</p>
        </div>

        <div class="box">
            <h2>Redes Sociales</h2>
            <div class="red-social">
                <a href="#" class="whatsapp" target="_blank">Whatsapp  <i class="fa-brands fa-whatsapp"></i> </a>
                <a href="#" target="_blank" class="instagram">Instagram  <i class="fa-brands fa-instagram"></i>  </a>
                <a href="#" class="facebook" target="_blank">Facebook  <i class="fa-brands fa-facebook"></i> </a>
            </div>
        </div>
    </div>
</footer>