

pdf-viewer {
  height: calc(100vh - 80px);
  /* display: block; */
  /* height: 842px; */
  /* overflow: auto; */
}

/*pdf page border bottom only - using custom css as in this version we don't have attribute support*/
::ng-deep body .pdfViewer.removePageBorders .page:not(:last-child) {
  box-shadow: 0px 10px 5px rgba(42,40,38,255), 0px -10px 5px rgba(42,40,38,255);
  margin-bottom: 10px;
}

.page-container {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 80px;
  background-color: rgba(42,40,38,255);
 overflow-x: hidden !important; 
}

.spinner {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.spinner img {
  width: 350px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .spinner img {
    width: 250px;
    height: auto;
  }
  
}
