<nav class="navbar">
    <div class="navbar-container">
        <a routerLink="/" class="navbar-logo">
            <img src="/assets/logos/zarabanda_blanco.png" alt="">
        </a>
        <div class="menu-icon" id="navbar-toggle">
            <i id="toggle-icon" class="fas fa-bars"></i>
        </div>
        
        <ul class="nav-menu" id="navbar-links">
            <li class="nav-item">
                <a routerLink="/" class="nav-links">Inicio</a>
            </li>
            <li class="nav-item">
                <a routerLink="/" class="nav-links">Servicios</a>
            </li>
            <li class="nav-item">
                <a routerLink="/" class="nav-links">Nosotros</a>
            </li>
            <li class="nav-item">
                <a routerLink="/proyectos" class="nav-links">Proyectos</a>
            </li>
            <li class="nav-item li-contactanos">
                <a routerLink="/" class="nav-links">Contactanos</a>
            </li>
        </ul>

        <div class="contactanos">
            <button class="btn-contactanos">
                Contactanos
            </button>
        </div>
    </div>
</nav>