<div class="mision">
    <h1>CONSTRUCTORA ZARABANDA</h1>
    <p> Transformar realidades y construir sueños mediante la excelencia en el diseño, la innovación arquitectónica y la construcción, comprometidos siempre con la satisfacción del cliente.</p>
</div>

<div class="coverimg">
</div>


<div class="nosotros">
    <div class="content">
        <h1>Nosotros</h1>
        <p> Somos una empresa familiar fundada hace seis años por dos hermanos arquitectos, apasionados por el diseño y la construcción de viviendas campestres. Nuestra empresa, integrada por un equipo de jóvenes constructores, se dedica a la creación de proyectos de vivienda que combinan innovación y funcionalidad.</p> 
            <p>Nos especializamos en desarrollar hogares que se integran armoniosamente con su entorno natural, brindando a nuestros clientes espacios únicos y personalizados. En Zarabanda S.A.S, nuestra misión es transformar ideas en realidades habitables, aportando calidad y excelencia en cada proyecto que emprendemos</p>
    </div>

    <div class="img">
        <img src="/assets/images/pexel1.jpg" alt="imagen arquitectónica">
    </div>

</div>

<div class="proyectos">


    <div class="banner">
        <div class="slider" style="--quantity: 5">
            <div class="item" style="--position: 1"><img src="/assets/proyectos/proyecto6.jpeg" alt=""></div>
            <div class="item" style="--position: 2"><img src="/assets/proyectos/proyecto2.jpeg" alt=""></div>
            <div class="item" style="--position: 3"><img src="/assets/proyectos/proyecto3.jpeg" alt=""></div>
            <div class="item" style="--position: 4"><img src="/assets/proyectos/proyecto4.jpeg" alt=""></div>
            <div class="item" style="--position: 5"><img src="/assets/proyectos/proyecto5.jpeg" alt=""></div>
        </div>
        <div class="center">
            <div class="btn-1">
                <a href=""><span>proyectos</span></a>
            </div>
        </div>
    </div>
    
</div>
