<div class="mision">
    <h1>Constructora Zarabanda</h1>
    <p> Transformar realidades y construir sueños mediante la excelencia en el diseño, la innovación arquitectónica y la construcción, comprometidos siempre con la satisfacción del cliente.</p>
</div>

<section class="hero">
</section>

<!-- <div class="coverimg">
</div> -->


<div class="servicios">
    <div class="content">
        <h2>Servicios</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam ratione expedita omnis porro tenetur iusto dolorum numquam perspiciatis unde, aliquam placeat? Consequatur, nesciunt atque! Voluptatum vel eius laboriosam accusamus ducimus?</p> 
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam ratione expedita omnis porro tenetur iusto dolorum numquam perspiciatis unde, aliquam placeat? Consequatur, nesciunt atque! Voluptatum vel eius laboriosam accusamus ducimus?</p> 
    </div>
</div>


<div class="frase">
    <span>La construcción es el arte de convertir sueños en realidad</span>
</div>


<div class="nosotros">
    <div class="content">
        <h2>Nosotros</h2>
        <p> Somos una empresa familiar fundada hace seis años por dos hermanos arquitectos, apasionados por el diseño y la construcción de viviendas campestres. Nuestra empresa, integrada por un equipo de jóvenes constructores, se dedica a la creación de proyectos de vivienda que combinan innovación y funcionalidad.</p> 
        <p>Nos especializamos en desarrollar hogares que se integran armoniosamente con su entorno natural, brindando a nuestros clientes espacios únicos y personalizados. En Zarabanda S.A.S, nuestra misión es transformar ideas en realidades habitables, aportando calidad y excelencia en cada proyecto que emprendemos</p>
    </div>
    <div class="imagen">
        <img src="/assets/images/pexel1.jpg" alt="imagen arquitectónica">
    </div>
</div>

<app-valores/>

<app-bannerproyectos/>


<app-equipo/>
