.valores{
    margin: 0 auto;
    max-width: 1400px;
    padding-bottom: 25px;
}
.valores h2{
    width: 400px;
    position: relative;
    left: 270px;
    margin-bottom: 45px;
}



.valores ul {
    margin: 0 auto;
    max-width: 90%;
    margin-top: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.valores ul li {
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    padding: 15px;
    background-color: var(--background-color-dark);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgb(87, 78, 78);
}

.valores ul li h6 {
    border-bottom: 2px ridge #e07721;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 8px;
    padding-bottom: 5px;
}

.valores ul li p {
    line-height: normal;
    color: var(--secondary-color);
    margin: 0;
}

@media screen and (max-width: 1350px) {

    .valores h2{
        position: static;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .valores ul {
        flex-direction: column;
        align-items: center;
    }

    .valores ul li {
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
        margin-right: 0px;
        height: auto;
        width: 90%;
        max-width: 500px;
    }
    
}
