<div class="valores">
    <div class="content">
        <h2>Valores Corporativos</h2>
        <ul>
            <li>
                <h3>Innovación</h3>
                <p>Buscamos constantemente nuevas ideas y herramientas tecnológicas para mejorar nuestros diseños y procesos constructivos.</p>
            </li>
            <li>
                <h3>Calidad</h3>
                <p>Nos comprometemos a entregar proyectos de alta calidad, superando las expectativas de nuestros clientes.</p>
            </li>
            <li>
                <h3>Sostenibilidad</h3>
                <p>Promovemos prácticas constructivas que respetan y enaltecen el entorno natural.</p>
            </li>
            <li>
                <h3>Personalización</h3>
                <p>Diseñamos y construimos viviendas que reflejan las necesidades y deseos únicos de nuestros clientes.</p>
            </li>
            <li>
                <h3>Integridad</h3>
                <p>Actuamos con honestidad y transparencia en todas nuestras operaciones.</p>
            </li>
        </ul>
    </div>
</div>    

