<div class="proyectos">
    <div class="banner">
        <div class="slider" style="--quantity: 5">
            <div class="item" style="--position: 1"><img src="/assets/proyectos/proyecto6.jpeg" alt=""></div>
            <div class="item" style="--position: 2"><img src="/assets/proyectos/proyecto2.jpeg" alt=""></div>
            <div class="item" style="--position: 3"><img src="/assets/proyectos/proyecto3.jpeg" alt=""></div>
            <div class="item" style="--position: 4"><img src="/assets/proyectos/proyecto4.jpeg" alt=""></div>
            <div class="item" style="--position: 5"><img src="/assets/proyectos/proyecto5.jpeg" alt=""></div>
        </div>
        <div class="center">
            <div class="btn-1">
                <a href=""><span>proyectos</span></a>
            </div>
        </div>
    </div>
</div>