/* Variables generales */

@font-face {
    font-family: 'Bahnschrift';
    src: url('/assets/fonts/bahnschrift.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GeorgiaRef';
    src: url('/assets/fonts/GeorgiaRef.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #ff0000;
    --secondary-color: #00ff00;
    --accent-color: #0000ff;
    --fotn-text: 'Bahnschrift', Arial, sans-serif;
    --font-title: 'GeorgiaRef', Arial, sans-serif;
    --background-color: #fcf9f9;
    --background-color-dark: #222222;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-size: 1.6rem;
    font-family: var(--fotn-text);
    background-color: var(--background-color);
}

h1 {
    font-family: var(--font-title);
    word-spacing: 0.3rem;
}

h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
}

body.no-scroll {
    overflow: hidden;
}

.whatsapp-icon {
    background-color: #25d366; 
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    position: fixed;
    bottom: 12px;
    right: 12px;
    color: #ffffff; 
    font-size: 2rem; 
    display: flex;
    align-items: center;
    justify-content: center;
}